<% if current_host.authenticated? %>
<p>以下のタグを埋め込んでください。</p>
<textarea rows="4" cols="80">
<%= render :partial => "loader_script", :locals => {:identity_url => current_host.identity_url} %>
</textarea>

<div>
  <p>例:</p>
  <%= render :partial => "loader_script", :locals => {:identity_url => "http://blog.yakitara.com/"} %>
</div>

<%= link_to "集計", sites_path %>
<% else %>
<p>Happy host の認証</p>
  <%= render :partial => "sessions/new", :locals => {:dest_url => hosts_path} %>
<% end %>
