    <p>以下のタグを埋め込んでください。</p>
    <textarea rows="1" cols="80">
<script language="JavaScript" src="<%= loader_url %>"></script>
    </textarea>

    <div>
      <p>例:</p>
      <script language="JavaScript" src="<%= loader_url %>"></script>
    </div>
